.option::before{
    content: "";
    position: absolute;
    width: 20px;
    border:#a4a4a7 1px solid;
    top: 50%;
    transform: translateY(-50%);
    left: -8px;
}

.option{
    position: relative;
}